/*==================================================
    INTERNADO.CSS
    Sistema de Checadores Urbanos Rojos
    Diseñado por JoyBoy
==================================================*/

/*=========================
        FUENTES
=========================*/

@font-face {
  font-family: "ARCO Typography";
  src: url("../fonts/ARCO.ttf") format("truetype");
}

@font-face {
  font-family: "Fenix";
  src: url("../fonts/Fenix.ttf") format("truetype");
}

/*=========================
        VARIABLES
=========================*/

:root {
  --azul: #114b8c;
  --azul-claro: #2f80ed;
  --azul-header: #0b3768;

  --gris: #6b7280;
  --gris-claro: #eef3f8;

  --blanco: #ffffff;

  --texto: #2d3748;

  --borde: #d7e2ec;

  --sombra: 0 8px 30px rgba(0, 0, 0, 0.1);
}

/*==================================================
                RESPONSIVE
==================================================*/

@media (max-width: 768px) {
  /*=========================
        BODY
=========================*/

  body {
    margin: 0;

    background: #eef3f8;
  }

  /*=========================
        CONTENEDOR
=========================*/

  .contenedor-chedraui {
    width: 100%;

    max-width: 768px;

    margin: auto;

    padding: 10px 5px;

    box-sizing: border-box;
  }

  /*=========================
        TARJETA
=========================*/

  .comunicado {
    background: white;

    border-radius: 22px;

    overflow: hidden;

    box-shadow: var(--sombra);

    border: 1px solid var(--borde);
  }

  /*=========================
        HEADER
=========================*/

  .comunicado-header {
    background: linear-gradient(135deg, var(--azul-header), var(--azul));
    color: white;
    text-align: center;
    padding-bottom: 10px;
  }


  /*=========================
    TITULO
=========================*/

  .comunicado-titulo {
    font-family: "ARCO Typography";

    letter-spacing: 3px;

    text-transform: uppercase;

    font-size: 20px;

    margin-bottom: 10px;
  }

  /*=========================
        FECHA
=========================*/

  .comunicado-fecha {
    display: inline-block;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.15);
    font-family: "ARCO Typography";
    font-size: 12px;
    line-height: 1;
    letter-spacing: 2px;
    padding: 5px;
  }

  /*=========================
        MENSAJE
=========================*/

  .comunicado-texto {
    font-family: "Fenix";
    font-size: 20px;
    color: var(--texto);
    text-align: justify;
  }

  .comunicado-texto-servicio {
    font-family: "Fenix";
    font-size: 16px;
    color: var(--texto);
    text-align: justify;
  }

  /*=========================
        TARJETA NOMBRE
=========================*/

  .tarjeta-nombre {
    margin-top: 10px;
    background: linear-gradient(135deg, #edf5ff, white);
    border: 2px solid #d9e7f6;
    border-radius: 18px;
    text-align: center;
    margin-bottom: 10px;
  }

  /*=========================
        TEXTO
=========================*/

  .texto-servidor {
    font-family: "Fenix";

    color: var(--gris);

    font-size: 18px;
  }

  /*=========================
        NOMBRE
=========================*/

  .nombre-servidor {
    font-family: "ARCO Typography";

    color: var(--azul);

    font-size: 14px;

    letter-spacing: 2px;

    text-transform: uppercase;
    padding: 5px;
  }

  .nombre-servidor-deuda {
    font-family: "Fenix";

    color: var(--azul);

    font-size: 24px;

    letter-spacing: 2px;

    padding: 5px;
  }

  /*==================================================
                HORARIOS
==================================================*/

  .horarios-container {
    display: flex;

    flex-direction: column;

    gap: 5px;
  }

  /*==================================================
            TARJETA HORARIO
==================================================*/

  .tarjeta-horario {
    background: #ffffff;

    border-radius: 18px;

    border: 2px solid #dce8f5;

    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.08);

    overflow: hidden;
  }

  /*==================================================
        CABECERA TARJETA
==================================================*/

  .tarjeta-header {
    background: linear-gradient(135deg, var(--azul), var(--azul-claro));
    text-align: center;
    padding: 10px;
  }

  /*==================================================
        TITULO TARJETA
==================================================*/

  .tarjeta-titulo {
    font-family: "ARCO Typography";
    color: white;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 2px;
  }

  /*==================================================
            CUERPO TARJETA
==================================================*/

  .tarjeta-body {
    text-align: center;
  }

  .tarjeta-body-corto {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  /*==================================================
            HORA
==================================================*/

  .tarjeta-hora {
    font-family: "ARCO Typography";

    color: var(--azul);

    font-size: 20px;

    letter-spacing: 2px;
  }

  .tarjeta-hora-servicio {
    font-family: "ARCO Typography";

    color: var(--azul);

    font-size: 15px;

    letter-spacing: 2px;
    text-align: center;
  }
  /*==================================================
            RECESO
==================================================*/

  .tarjeta-comida {
    border: 2px solid #ffdfa4;
  }

  .tarjeta-comida .tarjeta-header {
    background: linear-gradient(135deg, #f39c12, #f7b733);
  }

  .tarjeta-comida .tarjeta-hora {
    color: #c77700;
  }

  /*==================================================
        HORARIO CONTINUO
==================================================*/

  .tarjeta-continuo {

    background: linear-gradient(135deg, #f4f9ff, #ffffff);

    border: 2px solid #cfe2f8;

    border-radius: 22px;

    padding: 10px;

    text-align: center;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  }

  .tarjeta-continuo-titulo {
    font-family: "ARCO Typography";

    font-size: 20px;

    color: var(--azul);

    letter-spacing: 2px;

    margin-bottom: 5px;
  }

  .tarjeta-continuo-hora {
    font-family: "ARCO Typography";

    font-size: 20px;

    color: #0b3768;

    letter-spacing: 3px;
    padding: 8px;
  }

  /*==================================================
            MENSAJE FINAL
==================================================*/

  .comunicado-final {
    text-align: center;
    font-family: "Fenix";
    font-size: 18px;
    color: #4b5563;
    font-style: italic;
    padding: 15px;
  }

  /*==================================================
            FOOTER
==================================================*/

  .comunicado-footer {
    background: #0b3768;
    color: white;
    text-align: center;
    font-family: "Fenix";
    font-size: 15px;
    letter-spacing: 2px;
    padding: 10px;

  }

  /*==================================================
                    BOTONES
==================================================*/

  .button-descargar {
    width: 80%;

    max-width: 420px;

    margin: 25px auto 45px;

    display: block;

    padding: 18px 30px;

    border: none;

    border-radius: 16px;

    cursor: pointer;

    font-family: "ARCO Typography";

    font-size: 18px;

    letter-spacing: 2px;

    color: white;

    background: linear-gradient(135deg, var(--azul), var(--azul-claro));

    box-shadow: 0 8px 18px rgba(17, 75, 140, 0.25);

    transition: 0.25s;
  }

  .button-descargar:hover {
    transform: translateY(-3px);

    box-shadow: 0 14px 28px rgba(17, 75, 140, 0.35);
  }

  .button-descargar:active {
    transform: scale(0.98);
  }

  /*==================================================
                    FORMULARIO
==================================================*/

  .form-checador {
    width: 100%;

    max-width: 500px;

    margin: 35px auto;
  }

  /*==================================================
                    LABEL
==================================================*/

  .form-checador label {
    display: block;

    margin-bottom: 10px;

    font-family: "Fenix";

    color: var(--texto);

    font-size: 20px;
  }

  /*==================================================
                    SELECT
==================================================*/

  .entrada-de-texto {
    width: 100%;

    padding: 18px;

    border-radius: 15px;

    border: 2px solid #d6e4f3;

    background: white;

    outline: none;

    font-family: "Fenix";

    font-size: 19px;

    color: #374151;

    transition: 0.25s;

    box-sizing: border-box;
  }

  .entrada-de-texto:focus {
    border-color: var(--azul-claro);

    box-shadow: 0 0 0 5px rgba(47, 128, 237, 0.15);
  }

  /*==================================================
                BOTON AGREGAR
==================================================*/

  .boton-agregar {
    margin-top: 18px;

    width: 100%;

    padding: 16px;

    border: none;

    border-radius: 15px;

    background: #16a34a;

    color: white;

    font-family: "ARCO Typography";

    font-size: 17px;

    letter-spacing: 2px;

    cursor: pointer;

    transition: 0.25s;
  }

  .boton-agregar:hover {
    background: #15803d;
  }

  /*==================================================
                IMAGENES
==================================================*/

  .contenedor-imagen {
    background: white;

    border-radius: 22px;

    box-shadow: var(--sombra);

    padding: 25px;

    margin: 40px auto;

    text-align: center;

    border: 1px solid var(--borde);
  }

  .tarifa {
    width: 100%;

    border-radius: 15px;

    display: block;
  }

  /*==================================================
            BOTON DESCARGAR IMAGEN
==================================================*/

  .download-btn {
    display: inline-block;

    margin-top: 25px;

    text-decoration: none;

    background: linear-gradient(135deg, #2563eb, #3b82f6);

    color: white;

    padding: 14px 26px;

    border-radius: 14px;

    font-family: "ARCO Typography";

    letter-spacing: 2px;

    transition: 0.25s;
  }

  .download-btn:hover {
    transform: translateY(-3px);
  }

  /*==================================================
                TABLA REGLAS
==================================================*/

  .rules-table {
    width: 100%;

    background: white;

    border-radius: 22px;

    overflow: hidden;

    border-collapse: collapse;

    box-shadow: var(--sombra);

    border: 1px solid var(--borde);
  }

  /*==================================================
            ENCABEZADO REGLAS
==================================================*/

  .rules-table thead {
    background: linear-gradient(135deg, var(--azul), var(--azul-claro));
  }

  .rules-table th {
    color: white;

    padding: 5px;

    font-family: "ARCO Typography";

    font-size: 10px;

    letter-spacing: 3px;
  }

  /*==================================================
                TEXTO REGLAS
==================================================*/

  .rules-table td {
    padding: 5px 2px;

    font-family: "Fenix";

    font-size: 10px;

    color: var(--texto);

    line-height: 1.8;

    border-bottom: 1px solid #edf2f7;

    text-align: justify;
  }

  .rules-table strong {
    color: var(--azul);
  }

  .logo-urbanos {
    font-size: 15px;

    letter-spacing: 2px;
  }

  .logo-subtitulo {
    font-size: 18px;
  }

  .comunicado-body {
    padding: 5px;
  }

  .comunicado-texto-grande {
    font-size: 50px;
    text-align: center;
  }

  .button-descargar {
    font-size: 12px;

    padding: 10px;
  }

  .rules-table th {
    font-size: 14px;

    padding: 3px;
  }

  .rules-table td {
    font-size: 10px;

    padding: 3px;
  }
}

/*==================================================
            SELECCIÓN
==================================================*/

::selection {
  background: #2f80ed;

  color: white;
}


/*==================================================
            TABLAS
==================================================*/

table {
  width: 100%;
}

/*==================================================
            LINKS
==================================================*/

a {
  text-decoration: none;
}

/*==================================================
            INPUTS
==================================================*/

button,
input,
select {
  font-family: inherit;
}

/*==================================================
            EFECTOS
==================================================*/

.button-descargar,
.download-btn,
.boton-agregar,
.entrada-de-texto {
  transition: all 0.25s ease;
}

/*==================================================
            HTML2CANVAS
==================================================*/

.comunicado {
  overflow: hidden;
}

.comunicado * {
  box-sizing: border-box;
}

/*==================================================
            FIN
==================================================*/

/*

Sistema de Checadores
Diseñado por JoyBoy

CSS Version 1.0

*/
